# Dependencies
node_modules/
/.pnp
.pnp.js
.pnp.*

# Testing
/coverage
*.lcov

# Next.js
/.next/
/out/
next-env.d.ts

# Production
/build
/dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# Local env files
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Typescript
*.tsbuildinfo

# OS files
.DS_Store
*.pem
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Conda (nếu bạn sử dụng)
.conda/

# Logs
logs/
*.log

# Temporary files
*.tmp
*.bak

# Mac
.AppleDouble
.LSOverride

# Windows
desktop.ini
$RECYCLE.BIN/

# Linux
*~
.directory
.Trash-*